*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto Condensed", serif;
    font-size: large;
    }
body{
    background-image: url(../img/dl.2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedorTodo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.cajaTrasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur (10px);
    background-color: rgba(33, 243, 191, 0.5);
    border-radius: 10px;
}

.cajaTrasera div{
    margin: 100px 40px;
    color: rgb(0, 0, 0);
    transition: all 500ms;
}

.cajaTrasera div p,
.cajaTrasera div button{
    margin-top: 30px;
}

.cajaTrasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.cajaTrasera button{
    padding: 10px 40px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
    background: transparent;
    font-style: 14px;
    font-weight: 600;
    cursor: pointer;
    color: rgb(0, 0, 0);
    transition: all 300ms;
}

.cajaTrasera button:hover{
    background: rgba(70, 70, 70, 0.479);
    color: rgb(255, 255, 255);
    border-radius: 15px;
}

/* Formularios */

.contenedorLoginRegistro{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -200px;
    left: 10px;
    transition: left 600ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedorLoginRegistro form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
}

.contenedorLoginRegistro form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(31, 228, 178);
}

.contenedorLoginRegistro form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 10px;
    background:rgba(235, 235, 235, 0.5) ;
    font-size: 16px;
    outline: none;
}

.contenedorLoginRegistro form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background-color: rgba(33, 243, 191, 0.5);
    color:rgba(73, 73, 73, 0.938) ;
    border-radius: 3px;
    cursor: pointer;
}

.contenedorLoginRegistro form button:hover{
    background: rgba(70, 70, 70, 0.603);
    color: rgb(33, 243, 191);
    border-radius: 15px;
    transition: all 300ms;
}


.formularioLogin{
    opacity: 1;
    display: block;
}

.formularioRegistro{
    display: none;
    margin-top: 10px;
}

/* Responsive */

@media screen and (max-width: 850px){
    
    main{
        margin-top: 50px;
    }

    .cajaTrasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .cajaTrasera div{
        margin: 0px;
        position: absolute;
    }

    /* Formulario R */

    .contenedorLoginRegistro{
        top: -10px;
        left: -1px;
        margin: auto;
    }

    .contenedorLoginRegistro form{
        position: relative;
    }

}
/* Interfaz 1 */

body.interfaz1{
    background-image: url(../img/dl.3.jpg);
}

.main2{
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.main2 h1{
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    font-family: "Roboto Condensed", serif;
}

.main2 header nav{
    text-align: center;
    margin-top: 30px 10px;
}

.main2 header nav button{
    padding: 10px 40px;
    margin: 40px 50px;
    border: none;
    font-size: 22px;
    background-color: rgba(33, 243, 191, 0.342);
    color:rgba(73, 73, 73, 0.938) ;
    border-radius: 5px;
    cursor: pointer;
}

.main2 header nav button:hover{
    background: rgba(70, 70, 70, 0.603);
    color: rgb(33, 243, 191);
    border-radius: 15px;
    transition: all 300ms;
}

.main2 h2{
    margin: 0 auto;
    padding: 0px;
    text-align: center;
    font-size: 40px;
    color: rgba(68, 68, 68, 0.856);
}

.main2 h2:hover{
    color: white;
}

.contenedorTabla{
    max-width: 750px;
    min-width: 200px;
    margin: 20px auto;
    padding: 2px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.295);
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    overflow:scroll;
}

.contenedorTabla h3{
    text-align: center;
    font-size: 30px;
    margin: 20px 10px;
    color: rgba(33, 243, 191);
}

.contenedorTabla div h3:hover{
    color: black;
}

.contenedorTabla div{
    margin: 4px;
    padding: 5px;
}

.contenedorTabla a div:hover{
    color: black;
    background-color: rgba(255, 255, 255, 0.349);
    border-radius: 20px;
}

.contenedorTabla img{
    width: 200px;    
}

/* Prestamos */

body.prestamos1{
    background-image: url(../img/dl.1.jpg);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.prestamos1 header h1{
    font-size: 46px;
    margin: 80px auto 1px auto;
    color: rgb(33, 243, 191);
}

.prestamos1 main{
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.tablaPrestamos{
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    width: 100%;
    max-width: 900px;
    margin-top: 40px;
    border: none;
    padding: 10px;
    background-color:rgba(33, 243, 191, 0.432) ;
    border-radius: 4px;
}

.tablaPrestamos table{
    width: 100%;
    max-width:900px;
    text-align: center;
    table-layout: fixed;
    border-collapse: collapse;
    border: none;
    border-radius: 4px;
}

tr{
    border: none;
    margin: 2px;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
}

td{
    font-size: 2vw;
    border: none;
    margin: 2px;
    padding: 3px;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    background-color: rgba(255, 255, 255, 0.459);
}